* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#formContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
    width: 450px;
    border-radius: 24px;
    border: 2px solid darkcyan;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 14px 2px skyblue;
    padding: 5px 24px;
}

.form div {
    margin-top: 14px;
}

.form h1 {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}


.label {
    display: inline-block;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 100%;
}

.input {
    display: inline-block;
    height: 45px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
}

.input:focus {
    background: rgba(255, 255, 255, 0.664);
}

.location {
    /* background: skyblue; */
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.location a {
    text-decoration: none;
    color: blue;
}

.btnDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    width: 50%;
    height: 50px;
    border: 2px solid skyblue;
    border-radius: 14px;
    background: blue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: darkblue;
}