* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.userDetails {
    height: 100vh;
    background: white;
    padding: 10px;
}

table {
    width: 100%;
    max-height: 90vh;
    /* background: white; */
}

thead tr th {
    font-size: 26px;
    font-weight: bolder;
    padding: 14px;
}

tbody tr td {
    font-size: larger;
    font-weight: bold;
    padding: 14px;
}

#attendance {
    font-size: 16px;
    padding: 5px;
    border: 2px solid gray;
}

.Savebtn button {
    min-width:100px;
    width: 40%;
    height: 40px;
    border: 2px solid skyblue;
    border-radius: 12px;
    background: green;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.Savebtn button:hover {
    background: darkgreen;
}